In [4]:
import pandas
import sklearn.preprocessing

In [5]:
df_features = pandas.read_feather('features/3d.feather')
df_features.describe()

                 0            1            2
count  1046.000000  1046.000000  1046.000000
mean      8.885586     5.129985     2.812354
std       0.018364     0.711877     1.306579
min       8.825727     1.382508    -1.000000
25%       8.875046     4.695677     2.050454
50%       8.888830     5.163220     2.943311
75%       8.898888     5.605709     3.726499
max       8.926646     6.952884     5.624116

In [6]:
features = sklearn.preprocessing.StandardScaler().fit_transform(df_features.to_numpy())
pandas.DataFrame(features, columns = df_features.columns).describe()

                  0             1             2
count  1.046000e+03  1.046000e+03  1.046000e+03
mean  -7.317367e-14  8.151542e-16  1.086872e-16
std    1.000478e+00  1.000478e+00  1.000478e+00
min   -3.261186e+00 -5.266736e+00 -2.919209e+00
25%   -5.742665e-01 -6.103810e-01 -5.834045e-01
50%    1.767408e-01  4.670871e-02  1.002772e-01
75%    7.246725e-01  6.685867e-01  6.999822e-01
max    2.236961e+00  2.561917e+00  2.153033e+00

In [7]:
from SDA.SDA import SDA
my_result, my_df_st_edges = SDA().apply(features)

Applying to 1046 samples with 3 features each
Running stage 1

  0%|          | 0/589 [00:00<?, ?it/s]

Running stage 2

  0%|          | 0/672 [00:00<?, ?it/s]